.error-message {
  color: red;
}

.btn {
  background: #f89400;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
  margin: 10px;
  text-decoration: none;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.75;
}

.left-column {
  width: 25%;
  border: 1px solid black;
}

.post-form {
  display: flex;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  background: white;
  box-shadow: 10px 5px 5px rgb(192, 192, 192);
}

.post-form textarea {
  background: rgb(241, 241, 241);
  border-radius: 10px;
  border: none;
  resize: none;
  outline: none;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.error-message {
  color: red;
}
