.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px;
  margin-top: 20px;
  width: 100%;
}

.comment-avatar {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 100%;
  background: orange;
  height: 30px;
  width: 30px;
  margin: 5px;
  -o-object-fit: cover;
  object-fit: cover;
}

.comment-content {
  background: rgb(230, 230, 230);
  border-radius: 30px;
  padding: 10px 25px;
  position: relative;
  max-width: 90%;
}

.comment-author {
  font-weight: bold;
  margin-bottom: 5px;
}

.comment-like-button {
  position: absolute;
  bottom: -18px;
  left: 5px;
  border: none;
  background: none;
  cursor: pointer;
}

.comment-like-button:hover {
  text-decoration: underline;
}

.comment .like-count {
  position: absolute;
  bottom: -18px;
  right: 5px;
}

.comment-button-container {
  position: absolute;
  right: -30px;
  top: 0;
  border-radius: 10px;
  background: #f7f6f6;
}

.edit-comment-button,
.delete-comment-button {
  background: none;
  border: none;
}

.delete-comment-button {
  right: -40px;
}

.edit-comment-button:hover,
.delete-comment-button:hover {
  cursor: pointer;
  opacity: 0.5;
}
