.edit-modal {
  height: 100%;
  width: 100%;
  background: rgba(211, 211, 211, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.edit-form {
  height: 200px;
  width: 95%;
  max-width: 400px;
  border-radius: 20px;
  background: white;
  margin-top: 75px;
  -webkit-box-shadow: 10px 5px 5px rgb(180, 180, 180);
  box-shadow: 10px 5px 5px rgb(180, 180, 180);
}

.edit-form-header {
  height: 50px;
  border-bottom: 1px solid rgb(194, 194, 194);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.5em;
  position: relative;
}

.close-modal-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: 0;
  border: none;
  cursor: pointer;
}

.close-modal-button:hover {
  opacity: 0.5;
}

.edit-form-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 20px;
}

.edit-form-form #content {
  border: none;
  margin: 10px;
}

.edit-form-form #content:focus {
  outline: none;
}
