.edit-user-modal {
  height: 100%;
  width: 100%;
  background: rgba(211, 211, 211, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
}

.edit-user-modal .edit-form {
  height: auto;
}
