.edit-user-modal {
  width: 100%;
  background: rgba(211, 211, 211, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.edit-user-modal .edit-form {
  height: auto;
}
