/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.home {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .left-column {
  padding-top: 50px;
  background: #e6e8ec;
}

.home .post-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .post-feed {
  width: 50%;
}

.home .left-column .current-user,
.home .left-column .friends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
}

.home .left-column .current-user:hover,
.home .left-column .friends:hover {
  opacity: 0.75;
}

.home .left-column .left-column-image {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background: gray;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 2em;
  color: white;
}

@media (max-width: 1100px) {
  .home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .home .left-column {
    padding-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .home .post-feed {
    width: 75%;
  }
}

@media (max-width: 600px) {
  .home .post-feed {
    width: 95%;
  }
}
