.image-upload-modal {
  width: 500px;
  background: white;
  position: fixed;
  margin: 50px auto;
  z-index: 100;
  border: 1px solid black;
  border-radius: 20px;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: scroll;
}

.image-upload-modal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (max-width: 600px) {
  .image-upload-modal {
    width: 75%;
  }
}
