.image-upload-modal {
  width: 500px;
  background: white;
  position: fixed;
  margin: 50px auto;
  z-index: 100;
  border: 1px solid black;
  border-radius: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.image-upload-modal form {
  display: flex;
  flex-direction: column;
}
