.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background: white;
}

.login-form > * {
  margin: 5px;
}
