.post {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  background: white;
  margin: 5px;
  position: relative;
  box-shadow: 10px 5px 5px rgb(192, 192, 192);
}

.post .delete-button,
.post .edit-button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: orange;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.post .delete-button {
  margin: 5px 10px;
}

.post .edit-button {
  margin: 5px 40px;
}

.post .delete-button:hover,
.post .edit-button:hover {
  opacity: 0.75;
}

.post-header {
  margin: 5px 0;
}

.post .post-author {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.post .post-author:hover {
  opacity: 0.75;
}

.post .post-avatar {
  flex-shrink: 0;
  border-radius: 100%;
  background: orange;
  height: 50px;
  width: 50px;
  margin: 5px;
  object-fit: cover;
}

.post-time {
  font-size: 0.5em;
  padding: 5px;
}

.post-content {
  margin-top: 10px;
}

.post .action-buttons {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px;
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
}

.post .action-button {
  font-size: 1.1em;
  font-weight: 100;
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 25px;
  cursor: pointer;
}

.post .action-button:hover {
  background: #f1f1f1;
}

.comment-form {
  display: flex;
  align-items: center;
  margin: 5px;
}

.comment-form textarea {
  background: rgb(241, 241, 241);
  border-radius: 10px;
  border: none;
  resize: none;
  outline: none;
  padding: 5px 0 0 5px;
  margin: 5px;
  width: 95%;
}
