.post {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  background: white;
  margin: 5px;
  width: 90%;
  position: relative;
  box-shadow: 10px 5px 5px rgb(192, 192, 192);
}

.post .delete-button,
.post .edit-button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: orange;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.post .delete-button {
  margin: 5px 10px;
}

.post .edit-button {
  margin: 5px 40px;
}

.post .delete-button:hover,
.post .edit-button:hover {
  opacity: 0.75;
}

.post-header {
  border-bottom: 1px solid black;
}

.post-time {
  font-size: 0.5em;
  padding: 5px;
}

.post-content {
  margin-top: 10px;
}
