.profile-page {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.profile-page .hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(50%, rgba(255, 255, 255, 1)),
    to(rgb(237, 238, 231))
  );
  background: -o-linear-gradient(
    bottom,
    rgba(255, 255, 255, 1) 50%,
    rgb(237, 238, 231) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 50%,
    rgb(237, 238, 231) 100%
  );
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.profile-page .hero-section .user-name {
  font-weight: bold;
  font-size: 2em;
}

.profile-page .user-image-backdrop {
  width: 900px;
  height: 250px;
  background: rgb(194, 194, 194);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.profile-page .edit-user-btn {
  position: absolute;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-top: 20px;
  margin-left: 150px;
  color: black;
  border-radius: 100%;
  border: none;
  background: transparent;
  font-size: 1.5em;
}

.profile-page .edit-user-btn:hover {
  cursor: pointer;
  opacity: 0.5;
}

.profile-page .user-avatar {
  height: 200px;
  border-radius: 100%;
}

.profile-page .main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.text-area-container {
  padding: 5px;
  width: 95%;
  background: #f1f1f1;
  border-radius: 10px;
}

.profile-page .post-form-container {
  width: 95%;
}

.profile-page .post-form {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile-page .user-feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.profile-page .left-section {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: white;
  border-radius: 20px;
  padding: 10px;
  -webkit-box-shadow: 10px 5px 5px rgb(192, 192, 192);
  box-shadow: 10px 5px 5px rgb(192, 192, 192);
}

.profile-page .left-section .title {
  font-weight: bold;
  font-size: 1.5em;
  padding: 5px;
}

.profile-page .left-section .friend-count {
  opacity: 0.5;
  padding: 5px;
}

.profile-page .left-section .friend-tiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.profile-page .friend {
  width: 100px;
  margin: 5px;
  background: white;
}

.profile-page .friend:hover {
  opacity: 0.75;
}

.profile-page .friend .friend-avatar {
  height: 100px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid rgb(177, 177, 177);
}

.profile-page .friend .friend-name {
  margin: 5px;
}

.profile-page .post-feed {
  width: 60%;
}

@media (max-width: 1350px) {
  .profile-page .main-section {
    width: 75%;
  }
}

@media (max-width: 920px) {
  .profile-page .user-image-backdrop {
    width: 100%;
  }

  .profile-page .user-feed {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .profile-page .left-section {
    padding: 0;
  }

  .profile-page .left-section .title {
    margin: 20px 0 0 10px;
  }

  .profile-page .left-section .friend-count {
    margin-left: 10px;
  }

  .profile-page .left-section,
  .profile-page .post-feed {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .profile-page .main-section {
    width: 90%;
  }
}
