.profile-page {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.profile-page .hero-section {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 50%,
    rgb(237, 238, 231) 100%
  );
  align-items: center;
}

.profile-page .hero-section .user-name {
  font-weight: bold;
  font-size: 2em;
}

.profile-page .user-image-backdrop {
  width: 65%;
  height: 250px;
  background: rgb(194, 194, 194);
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: flex-end;
}

.profile-page .user-avatar {
  height: 200px;
  border-radius: 100%;
}

.profile-page .main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  align-self: center;
}

.text-area-container {
  padding: 5px;
  width: 95%;
  background: #f1f1f1;
  border-radius: 10px;
}

.profile-page .post-form {
  width: 95%;
}

.profile-page .user-feed {
  display: flex;
  width: 100%;
}

.profile-page .left-section {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 10px 5px 5px rgb(192, 192, 192);
}

.profile-page .left-section .title {
  font-weight: bold;
  font-size: 1.5em;
  padding: 5px;
}

.profile-page .left-section .friend-count {
  opacity: 0.5;
  padding: 5px;
}

.profile-page .left-section .friend-tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.profile-page .friend {
  width: 100px;
  margin: 5px;
  background: white;
}

.profile-page .friend:hover {
  opacity: 0.75;
}

.profile-page .friend .friend-avatar {
  height: 100px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgb(177, 177, 177);
}

.profile-page .friend .friend-name {
  margin: 5px;
}

.profile-page .post-feed {
  width: 60%;
}
