.users-page {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.user {
  height: 250px;
  width: 200px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.user-image {
  height: 50%;
  width: 100%;
  background: rgb(194, 194, 194);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  font-size: 6em;
}

.user .user-name {
  font-weight: bold;
  margin: 5px;
}

.user .add-friend-button,
.user .friend-requested,
.user .remove-friend-button {
  margin: 5px;
  width: 90%;
  align-self: center;
}

.user .remove-friend-button {
  background: rgb(180, 0, 0);
}

.user .friend-requested {
  background: lightgreen;
}

.requested-block {
  background: lightgray;
  border-radius: 10px;
  padding: 10px;
  color: white;
  margin: 10px;
  text-align: center;
}
